@use '../custom' as *;

.course-page {
	margin-top: 12rem;

	h1 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
		line-height: 2rem;
		color: red;
		font-weight: 700;
    filter: drop-shadow(0.20em 0.30em 0.2em);
    font-family: 'Noto Nastaliq Urdu', serif;

		@include media-breakpoint-only(md) {
			font-size: 1.3rem;
			margin-bottom: 2.5rem;
			line-height: 3rem;
    filter: drop-shadow(0.20em 0.30em 0.2em);
     font-family: 'Noto Nastaliq Urdu', serif;


		}
		@include media-breakpoint-down(sm) {
			font-size: 1rem;
			margin-bottom: 3rem;
			margin-top: -2rem;
    filter: drop-shadow(0.20em 0.30em 0.2em);
     font-family: 'Noto Nastaliq Urdu', serif;

		}
	}

	.details {
			@include media-breakpoint-down(sm) {
	    margin-left: -10rem;
		}
			h1 {
       font-size: 2rem;
     font-family: 'Noto Nastaliq Urdu', serif;
     margin-top: 1rem;
     margin-bottom: 2rem;


			@include media-breakpoint-only(md) {
			font-weight: 900;
     font-family: 'Noto Nastaliq Urdu', serif;

			font-size: 2rem;
    }
			@include media-breakpoint-down(sm) {
			font-weight: 600;
			font-size: 1.2rem;
			margin-bottom: 1rem;
			margin-top: -2rem;
     font-family: 'Noto Nastaliq Urdu', serif;


    }
		}
		h2 {
			  font-size: 1.3rem;
     font-family: 'Noto Nastaliq Urdu', serif;
     color: red;
     margin-bottom: 1rem;

				@include media-breakpoint-only(md) {
				font-size: 1.3rem;
     font-family: 'Noto Nastaliq Urdu', serif;

    }
    	@include media-breakpoint-down(sm) {
				font-size: 0.7rem;
				font-weight: bold;
				margin-top: 0.5rem;
     font-family: 'Noto Nastaliq Urdu', serif;

			}
	}
	img {
		@include media-breakpoint-up(lg)  {
		margin-left: 20rem; 	
	}
	}
	}
	.details-1 {
		@include media-breakpoint-down(sm) {
	   margin-top: -12.4rem;
		}
		h1 {
			font-size: 2rem;
     font-family: 'Noto Nastaliq Urdu', serif;
     margin-top: 1rem;
     margin-bottom: 2rem;

			@include media-breakpoint-only(md) {
				font-weight: 900;
				font-size: 2rem;
    }
			@include media-breakpoint-down(sm) {
				font-weight: 900;
				font-size: 1.2rem;
				margin-bottom: 1rem;
				margin-top: -5rem;

		}
		}
		h2 {
		    font-size: 1.3rem;
     font-family: 'Noto Nastaliq Urdu', serif;
    margin-bottom: 1rem;
    color: red;
				@include media-breakpoint-only(md) {
				font-size: 1.3rem;
    }

			@include media-breakpoint-down(sm) {
				font-size: 0.7rem;
				font-weight: bold;
				margin-top: 0.5rem;
			}
		}
	}
	img {
		@include media-breakpoint-up(lg)  {
		margin-left: 20rem; 	
	}
	@include media-breakpoint-only(md)  {
		margin-left: 7rem; 	
	}
	@include media-breakpoint-down(sm)  {
		margin-left: 10rem; 
		width: 10rem;	
	}
	}
 .description {
 	h1 {
 		@include media-breakpoint-up(lg) {
 			font-size: 2.5rem;
 			margin-top: 3rem;
 			margin-bottom: 6rem;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 		@include media-breakpoint-only(md) {
 			font-size: 2.5rem;
 			margin-top: 4rem;
 			margin-bottom: 4rem;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 		@include media-breakpoint-down(sm) {
 			font-size: 1.6rem;
 			margin-top: 2rem;
 			margin-bottom: 4rem;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}

 	}
 	h3 {
 		@include media-breakpoint-up(lg) {
 		 	margin-right: 6rem;
 			font-size: 2rem;
 			font-weight: 600;
 			margin-top: -4rem;
 			margin-bottom: 2rem;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 		@include media-breakpoint-only(md) {
 			margin-top: -2rem;
 			margin-bottom: 2rem;
 			margin-right: 6rem;
 			font-size: 1.7rem;
 			font-weight: 900;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 		@include media-breakpoint-down(sm) {
 			margin-top: -3rem;
 			margin-right: 2rem;
 			margin-bottom: 2rem;
 			font-size: 1rem;
 			font-weight: 600;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 	}
 	h4 {
 		@include media-breakpoint-up(lg) {
 			margin-right: 8rem;
     font-family: 'Noto Nastaliq Urdu', serif;
     font-size: 1.3rem;
     margin-bottom: 1rem;
     color: red;

 		}
 		@include media-breakpoint-only(md) {
 			margin-right: 8rem;
 			font-weight: 400;
 			margin-bottom: 1.5rem;
 			font-size: 1rem;
 			color: red;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 		@include media-breakpoint-down(sm) {
 			margin-right: 3rem;
 			font-weight: 400;
 			font-size: 0.7rem;
 			line-height: 1.5rem;
 			color: red;
     font-family: 'Noto Nastaliq Urdu', serif;

 		}
 	}
 	h5 {
     font-family: 'Noto Nastaliq Urdu', serif;
 		 line-height: 2rem;
     font-size: 1rem;
     margin-bottom: 2rem;

     @include media-breakpoint-down(sm) {
     	font-size: 1rem;
     font-family: 'Noto Nastaliq Urdu', serif;

     }
 	}
 }
}