@use '../custom' as *;
@use '../components/mixins' as *;


.footer-1 {
	margin-top: 15rem;
	 @include media-breakpoint-only(md) {
	 	width: 100%;
	   }
	@include media-breakpoint-down(sm) {
		display: none;
	}

	


	.extra-blog {
	
		text-align: right;
		.entry-image {
	  filter: drop-shadow(0.80em 0.80em 0.7em);
		 @include media-breakpoint-only(md) {
		 margin-left: 1rem;
	   }
		}
	}
	.entry-title h3 a  {
		color: black;
		
	}
}


.copyrights {
	margin-top: 10rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,51,1) 35%, rgba(0,212,255,1) 100%);

}
.footer-widgets-wrap {
	margin-top: -25.3rem;
	padding-left: 10rem;
	 @include media-breakpoint-only(md) {
	   
	   padding-left: 3rem;
	   margin-right: 6rem; 
	     }
	     h4 {
	     	 @include media-breakpoint-only(md) {
	       font-size: 1.2rem;
	  }
	     }




	.get {
		ul {
			margin-top: 2rem;
			list-style-type: none;
			line-height: 2rem;
			 @include media-breakpoint-only(md) {
        
	    }
			li a {
				text-decoration: none;
				color: black;

			}

		}
		text-align: right;
  }

 .extra {
 	margin-top: 3rem;
 	text-align: right;
 	margin-left: 33.5rem;
   @include media-breakpoint-only(md) {
     display: none;
	    }
 } 
 hr {
 	width: 110%;  
height: 1px;  
background-color: black;  
margin-bottom: 7px;    
margin-left: 16.5rem;  
margin-top: 9px;  
border-width: 4px;  
border-color: blue;  
}  
}
.extra-blog h4 {
	margin-bottom: 2rem;
	
}
.fonts {
	margin-left: 20rem;
	margin-top: -3rem;
	font-size: 2rem;
	 @include media-breakpoint-only(md) {
	 	margin-top: 2rem;
	 	   }

}
.footer-2 {
	
	@include media-breakpoint-up(md) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: block;
	   }
  
	padding-top: 1rem;
	margin-top: 5rem;
	background-color: $footer;
	text-align: right;


	.contact-box {
		position: relative;

		&__icon {
			width: 3rem;
			stroke: $primary;
			padding-top: 0.5rem;
		}

		&__info {
			padding: 0.4rem;
			font-weight: 600;

			&--title {
				color: $white;
				text-decoration: none;
				font-size: 1rem;
		   margin-left: 7rem;
		   

			}

			&--subtitle {
				font-size: 0.8rem;
				color: $gray-600;
				text-decoration: none;
				margin-left: 2rem;
				text-align: right;
			}
		}
		.title-3 {
			margin-left: 9.5rem;
      color: white;
      text-decoration: none;

		}
	}
}

.footer-sm {
	a {
		color: white;
		i {
			font-size: 2rem;
			margin-left: 1rem;
		}
      &:hover {
    	color: $primary;
    	text-decoration: underline;;
    }
  }
}

.company-list {
	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

}
.company-list-1 h5, {
	float: left;
	margin-top: -10.3rem;
	margin-left: 3.5rem;
}
.company-list-2 {
	float: left;
	margin-top: -8.5rem;
}
.footer-bottom {
	background-color: black;
	&__copyright {
		font-weight: 400;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.back-to-top {
	position: fixed;
	left: 1.875rem;
	bottom: 1.875rem;
	width: 4rem;
	height: 4rem;
	z-index: 9999;
	background-color:  #0b0a2a;
	@include media-breakpoint-down(sm) {
		right: 1.875rem;
	}
	i {
		color: white;
		font-size: 2rem;
		@include absolutecenter;

	}
}


